In [104]:
import requests
from bs4 import BeautifulSoup
import re
import pandas as pd
import pickle
import string
from dateutil import parser
import billboard

In [105]:
#chart = billboard.ChartData('billboard-200/2019-02-01')
#new_chart = billboard.ChartData('hot-100/2019-09-01')

In [106]:
billboard_df = pd.DataFrame()

for i in range (1,5):
    i = str(i)
    string = "hot-100/2019-0"+i+"-01"
    new_chart = billboard.ChartData(string)
    for item in new_chart:
        billboard_df = billboard_df.append(pd.Series(item, index=['track_name']), ignore_index=True)
    i = int(i)
    i += 1

In [107]:
billboard_df.shape

(400, 1)

In [109]:
billboard_df_1 = pd.DataFrame()

for i in range (10,13):
    i = str(i)
    string = "hot-100/2019-"+i+"-01"
    new_chart = billboard.ChartData(string)
    for item in new_chart:
        #print(item)
        billboard_df_1 = billboard_df_1.append(pd.Series(item, index=['track_name']), ignore_index=True)
    i = int(i)
    i += 1
    
#final_chart = pd.DataFrame()
#final_chart = new_chart[0:5]

#type(final_chart)

In [110]:
billboard_df_1.shape

(0, 0)

In [111]:
frames = [billboard_df, billboard_df_1]
billboard_final = pd.concat(frames)

In [112]:
billboard_final.shape

(400, 1)

In [113]:
#billboard_final.drop_duplicates(subset=['track_name'], inplace=True)

In [114]:
#billboard_final.shape

In [115]:
billboard_final.to_csv('billboard_2019.csv')

In [116]:
billboard_final = pd.read_csv('billboard_2019.csv')

In [117]:
billboard_final.drop_duplicates(subset=['track_name'], inplace=True)

In [118]:
billboard_final.shape

billboard_final.head()


#for item in final_chart:
#    print (item)

   Unnamed: 0                                         track_name
0           0                   'Thank U, Next' by Ariana Grande
1           1                             'Without Me' by Halsey
2           2  'All I Want For Christmas Is You' by Mariah Carey
3           3                       'Sicko Mode' by Travis Scott
4           4  'Sunflower (Spider-Man: Into The Spider-Verse)...

In [119]:
billboard_final.to_csv('billboard_2019.csv')
billboard_df.head()

                                          track_name
0                   'Thank U, Next' by Ariana Grande
1                             'Without Me' by Halsey
2  'All I Want For Christmas Is You' by Mariah Carey
3                       'Sicko Mode' by Travis Scott
4  'Sunflower (Spider-Man: Into The Spider-Verse)...

In [5]:
#audio_df = pd.DataFrame([["Finesse", 12], ["Havana", 4],["This Is Me", 13] ],
#                        columns = ["track_name", "track_id"])
#audio_df.head()

#type(audio_df)

In [3]:
'''
count = 0

def find_target(row):
    #print("row['track_name']:",row['track_name'])
    #print("\n")
    #print(type(row['track_name']))
    #print("\n")
    #print("Final Chart: ",final_chart)
    #print("\n")
    #print(type(final_chart))
    #print("\n")
    
    if row['track_name'] in str(final_chart):
        print("inside")
        return 1
        count +=1 
    else:
        print("outside")
        return 0
'''

'\ncount = 0\n\ndef find_target(row):\n    #print("row[\'track_name\']:",row[\'track_name\'])\n    #print("\n")\n    #print(type(row[\'track_name\']))\n    #print("\n")\n    #print("Final Chart: ",final_chart)\n    #print("\n")\n    #print(type(final_chart))\n    #print("\n")\n    \n    if row[\'track_name\'] in str(final_chart):\n        print("inside")\n        return 1\n        count +=1 \n    else:\n        print("outside")\n        return 0\n'

In [4]:
#audio_df['bbhot'] = audio_df.apply(find_target, axis=1)

#audio_df.head()

In [168]:
#billboard_df = pd.DataFrame()

#for item in new_chart:
#    billboard_df = billboard_df.append(pd.Series(item, index=['track_name']), ignore_index=True)

In [169]:
#billboard_df.head()

                                          track_name
0                         '7 Rings' by Ariana Grande
1                             'Without Me' by Halsey
2  'Sunflower (Spider-Man: Into The Spider-Verse)...
3                   'Thank U, Next' by Ariana Grande
4                       'Sicko Mode' by Travis Scott

In [210]:
billboard_df.to_csv('billboard.csv')

In [211]:
billboard_df = pd.read_csv('billboard.csv')

In [212]:
billboard_df.drop_duplicates(subset=['track_name'], inplace=True)

In [213]:
billboard_df.shape

(169, 2)

In [177]:
#billboard_df1 = pd.DataFrame()

#for item in new_chart1:
#    billboard_df1 = billboard_df1.append(pd.Series(item, index=['track_name']), ignore_index=True)

In [178]:
#billboard_df1.head()

                           track_name
0    'Thank U, Next' by Ariana Grande
1        'Sicko Mode' by Travis Scott
2  'Happier' by Marshmello & Bastille
3              'Without Me' by Halsey
4        'Lucid Dreams' by Juice WRLD

In [179]:
billboard_df.to_csv('billboard_2019.csv')

In [180]:
billboard_df1 = pd.read_csv('billboard_2019.csv')

In [181]:
billboard_df1.drop_duplicates(subset=['track_name'], inplace=True)

In [182]:
billboard_df.shape

(100, 2)

In [186]:
frames = [billboard_df, billboard_df1]
billboard_final = pd.concat(frames)

In [187]:
billboard_final.shape

(200, 2)

In [188]:
billboard_final.drop_duplicates(subset=['track_name'], inplace=True)

In [189]:
billboard_final.shape

(150, 2)

In [121]:
## Merging all files and creating one

billboard_2019 = pd.DataFrame()
billboard_2018 = pd.DataFrame()
billboard_2017 = pd.DataFrame()
billboard_2016 = pd.DataFrame()
billboard_2015 = pd.DataFrame()

In [122]:
billboard_2019 = pd.read_csv('billboard_2019.csv')
billboard_2018 = pd.read_csv('billboard_2018.csv')
billboard_2017 = pd.read_csv('billboard_2017.csv')
billboard_2016 = pd.read_csv('billboard_2016.csv')
billboard_2015 = pd.read_csv('billboard_2015.csv')

In [123]:
billboard_merged = pd.DataFrame()

In [124]:
frames = [billboard_2019, billboard_2018, billboard_2017, billboard_2016, billboard_2015]
billboard_merged = pd.concat(frames)

In [138]:
billboard_merged.shape

(1492, 3)

In [139]:
billboard_merged.drop_duplicates(subset=['track_name'], inplace=True)

In [140]:
billboard_merged.shape

(1492, 3)

In [131]:
billboard_merged.to_csv('billboard_cleaned_final.csv', index=False)

In [141]:
## Reading spotify files and merging

spotify_2019 = pd.DataFrame()
spotify_2018 = pd.DataFrame()
spotify_2017 = pd.DataFrame()
spotify_2016 = pd.DataFrame()
spotify_2015 = pd.DataFrame()

In [142]:
spotify_2019 = pd.read_csv('Spotify_final_2019.csv')
spotify_2018 = pd.read_csv('Spotify_final_2018.csv')
spotify_2017 = pd.read_csv('Spotify_final_2017.csv')
spotify_2016 = pd.read_csv('Spotify_final_2016.csv')
spotify_2015 = pd.read_csv('Spotify_final_2015.csv')

In [143]:
frames_new = [spotify_2019, spotify_2018, spotify_2017, spotify_2016, spotify_2015]
spotify_merged = pd.concat(frames)

In [146]:
spotify_2019.shape

(7544, 23)

In [147]:
spotify_2018.shape

(7544, 23)